@{
    ViewData["Title"] = "Library Page";
}
@model Homework_05.ViewModels.BooksVM

@using (Html.BeginForm("SearchBook", "Library", FormMethod.Post))
{
    <form>
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <input type="text" placeholder="Search Book Name" name="bookName" class="form-control" />
                </div>
            </div>

            <div class="col-lg-2">
                <div class="form-group">
                    <select class="form-control" name="authorId">
                        <option>Select an Author</option>
                        @foreach (var author in Model.Authors)
                        {
                            <option value="@author.AuthorID">@author.AuthorName @author.AuthorSurname</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="form-group">
                    <select class="form-control" name="bookTypeId">
                        <option>Select a Type</option>
                        @foreach (var type in Model.BookTypes)
                        {
                            <option value="@type.TypeID">@type.TypeName </option>
                        }

                    </select>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="form-group">
                    <input type="submit" class="btn btn-success form-control" />
                </div>
            </div>

            <div class="col-lg-2">
                <div class="form-group">
                    <a href="@Url.Action()" class="btn btn-danger form-control">Clear</a>
                </div>
            </div>

        </div>

    </form>

}


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Type</th>
            <th scope="col">Page Count</th>
            <th scope="col">Points</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <th scope="row">@book.BookID</th>
                <td>@book.BookName</td>
                <td>@book.Author.AuthorName</td>
                <td>@book.BookType.TypeName</td>
                <td>@book.BookPageCount</td>
                <td>@book.BookPoint</td>
                @if (book.Status == "Out")
                {
                    <td style="color:red">@book.Status</td>
                }
                else if (book.Status == "Avaliable")
                {
                    <td style="color:green">@book.Status</td>
                }
                <td><a href="@Url.Action("ViewBookDetails", "Library", new {bookId = book.BookID})" class="btn btn-info">View</a></td>

            </tr>
        }


    </tbody>
</table>
